__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

thumbs.db
.DS_Store
.idea
CLIPFeatures_C00_V00/*
Keyframe_P_C0_V00/*
KeyFramesC00_V00/*
ObjectsC00_V00/*
result.csv
*.npy
correct
database
index
retrival_main
